{{#predictList}}
  <hr>
  <h2> {{id}}번째 영상</h2>

  {{#metrics}}
    <h3>{{name}}</h3>
    <p>
      당신의 {{name}} 수치는 {{value}} 입니다.<br>
      평균 대비 {{result}}% 입니다.
    </p>
    <p>{{message}}</p>
  {{/metrics}}

{{/predictList}}