<form action="/videos" method="post" enctype="multipart/form-data">
  <input type="file" name="video" accept="video/*">
  <button type="submit">분석하기</button>
</form>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/videos/list">내 이전 비디오</a>